@font-face {
    font-family: "FigTree-SemiBold";
    src: url("../../docs/fonts/Figtree-SemiBold.woff");
}
@font-face {
    font-family: "FigTree-Bold";
    src: url("../../docs/fonts/Figtree-Bold.woff");
}
@font-face {
    font-family: "FigTree-ExtraBold";
    src: url("../../docs/fonts/Figtree-ExtraBold.woff");
}
@font-face {
    font-family: "FigTree-Black";
    src: url("../../docs/fonts/Figtree-Black.woff");
}
