:root {
    --color-green: #a3e635;
    --color-dark-1: #111111;
    --color-dark-2: #1e1e1e;
    --color-dark-3: #181818;
    --color-white: #eeeeee;

    --semibold: "FigTree-SemiBold";
    --bold: "FigTree-Bold";
    --extrabold: "FigTree-ExtraBold";
    --black: "FigTree-Black";
}
